SQLAlchemy==2.0.4
aiogram==3.0.0b7
aiohttp==3.8.4
aioredis==2.0.1
alembic==1.9.4
asyncpg==0.27.0
asyncpgsa==0.27.1
python-dotenv==0.21.1
pytz-deprecation-shim==0.1.0.post0
redis==4.3.4
sentry-sdk==1.15.0
